.tec {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 4px solid white;
  border-radius: 50px;
  &__title-container {
    text-align: center;
    &__title {
      font-size: 48px;
      color: white;
      @include mq("tablet", "max") {
        font-size: 36px;
      }
    }
    &__description {
      color: $primary-light;
      opacity: 0.8;
      font-size: 24px;
    }
  }
}
